*{
    margin: 0;padding: 0;
}

.main{
    background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-section{
    height: 220px;
    width: 220px;
    border-radius: 100%;
    background-color: yellow;
    box-shadow: 5px 6px 6px 0px rgba(12, 12, 12, 0.515);

    position: absolute;
    transition: all ease 0.5s;

}
.first-section:hover{
    box-shadow: 0px 0px 15px 10px yellow;
    transition: all ease 0.5s;
}

.second-section{
    height: 190px;
    width: 190px;
    border-radius: 100%;
    z-index: 2;
    position: relative;
    top: -8px;
    left: -14px;
    background-color: rgb(164, 120, 10);

}